<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} {% endblock %} QuotaLecture</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    <link rel="alternate icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>

<body class="MainBody">
    <!-- <a href="{% url 'seapanapp:l_list' %}">
        <h1>QuotaLecture</h1>
    </a> -->

    <main class="Content">
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
    </div>

</body>

</html>