{% extends "seapanapp/base.html" %}

{% block title %}
{{ l.name }} - Lecture -
{% endblock %}

{% block content %}

<div class="NavBar">
    <a href="{% url 'seapanapp:search' %}" id="MainHeader">
        <h1>Quot-a-Lecture</h1>
    </a>

    <div class="NavContent">
        <hr>
        <a id="Search" style="text-decoration: underline;" href="{% url 'seapanapp:search' %}">Search</a>
        •
        <a id="Random" style="text-decoration: underline;" href="{% url 'seapanapp:l_list' %}">Lectures</a>
        •
        <a id="Admin" style="text-decoration: underline;" href="/admin">Admin</a>
        <hr>
    </div>

    <a style="text-decoration: underline;" href="{{ l.to_url }}"> <h2> {{l.name}} </h2> </a>
    
    <p> By: <a style="text-decoration: underline;" href="{% url 'seapanapp:lecturer_detail' l.lecturer.id %}"> {{l.lecturer}} </a>, {{l.date}} </p>
    <p> <a style="text-decoration: underline;" href="{% url 'seapanapp:category_detail' l.category.id %}"> {{l.category}}</a> </p>

    <hr>
</div>

{% if qs %}
<div>
    <ul class="ResultsList">
        {% for q in qs %}
        <li class="FormInner">
            {% load static %}
            <img src="{% static 'images/resultbutton.svg' %}">
            <div class="ResultTextHolder">
                <p class="SmallText">{{q.preamble}}</p>
                <a style="text-decoration: underline;" class="BigResultText"
                    href="{% url 'seapanapp:q_detail' q.id %}">{{q.question}}</a>
                <p class="SmallText">{{q.answer}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="NavBar">
    <p><i>Nothing was found :(</i></p>
</div>
{% endif %}

<!-- {% if qs %}
<ul>
    {% for q in qs %}
    <li>{{ q.preamble }} <a style="text-decoration: underline;" href="{% url 'seapanapp:q_detail' q.id %}">{{ q.question }}</a> {{ q.answer }} </li>
    {% endfor %}
</ul>
{% else %}
<p>No Questions</p>
{% endif %} -->

{% endblock %}