{% extends "seapanapp/base.html" %}

{% block title %}
{{ q.question }} - Question -
{% endblock %}

{% block content %}

<div class="SearchHolder">
    <div class="NavBar">
        <a href="{% url 'seapanapp:l_list' %}" id="MainHeader">
            <h1>Quot-a-Lecture</h1>
        </a>
    
        <div class="NavContent">
            <hr>
            <a id="Search" style="text-decoration: underline;" href="{% url 'seapanapp:search' %}">Search</a>
            •
            <a id="Random" style="text-decoration: underline;" href="{% url 'seapanapp:l_list' %}">Lectures</a>
            •
            <a id="Admin" style="text-decoration: underline;" href="/admin">Admin</a>
            <hr>
        </div>
    
        <div class="Answer"> <i>Context:</i> {{q.preamble}} </div>
    
        <h3 class="QuestionHeader"> <i>Question:</i> {{ q.question }} </h2>
    
            <div class="Answer"> <i>Response:</i> {{q.answer}} </div>
    
            <hr>
    
            <div style="display: flex; justify-content: center;">
                <div class="VotingBox">
                    <a style="padding-right: 10px;" href="{% url 'seapanapp:q_upvote' q.id %}">👍</a>
                    {{q.votes}}
                    <a style="padding-left: 10px;" href="{% url 'seapanapp:q_downvote' q.id %}">👎</a>
                </div>
            </div>
    
            This was asked at <a style="text-decoration: underline;" href="{{q.to_url}}">{{q.timestamp.isoformat}}
                (Panopto)</a> in
    
            <a style="text-decoration: underline;" href="{% url 'seapanapp:lecture_detail' q.recording.id %}">
                {{q.recording.name}}
            </a>
    
    </div>
</div>


{% endblock %}