{% extends "seapanapp/base.html" %}

{% block title %}
Search -
{% endblock %}

{% block content %}

<div class="SearchHolder">
    <div class="NavBar" style="margin-bottom: 5px;">
        <a href="{% url 'seapanapp:l_list' %}" id="MainHeader">
            <h1>Quot-a-Lecture</h1>
        </a>

        <div class="NavContent">
            <hr>
            <a id="Search" style="text-decoration: underline;" href="{% url 'seapanapp:search' %}">Search</a>
            •
            <a id="Random" style="text-decoration: underline;" href="{% url 'seapanapp:l_list' %}">Lectures</a>
            •
            <a id="Admin" style="text-decoration: underline;" href="/admin">Admin</a>
            <hr>
        </div>

    </div>
    <div class="SearchDiv">
        <form action="{% url 'seapanapp:search_res' %}" method="post" class="SearchForm">
            {% csrf_token %}
            <div class="FormInner">
                {% load static %}
                <input type="image" class="SearchButton" src="{% static 'images/searchbutton.svg' %}" />
                <input autofocus class="SearchBox" type="text" name="query" placeholder="Enter your burning questions..." />
            </div>
        </form>
    </div>
</div>

{% endblock %}