@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
  --cream: #FFFBF8;
  --brown: #8E745D;
  --peach: #FFCC86;
  --font: 'Bree Serif', serif;
}

html {
  height: 100%;
}

.MainBody {
    font-family: var(--font);
    background: var(--cream);
    color: var(--brown);
    font-size: 35px;
    height: 100%;
}

main {
  height: 100%;
}

a, p {
  color: var(--brown);
  text-decoration: none;
}

h1 {
  font-family: var(--font);
  font-size: 80px;
}

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
  color: var(--brown);
  background-color: var(--brown);
  border: none;
  height: 2px;
  width: 22%;
}

#root {
  width: 810px;
  max-width: 100%;
  height: 100%;
}

/* Navigation section */

.NavBar {
  background: var(--cream);
  text-align: center;
}

/* .Content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
} */

.SearchHolder {
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchDiv {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.SearchForm {
  text-align: left;
  border-radius: 30px;
  width: 55%;
  height: fit-content;
}

.FormInner {
  display: flex;
  background: var(--cream);

  border: 1px solid var(--brown);
  outline-style: solid;
  outline-color: var(--brown);

  border-radius: 30px;
}

.SearchBox::placeholder {
  color: var(--peach);
  opacity: 1; /* Firefox */
}

.SearchDiv {
  height: max-content;
}

.SearchBox {
  background: transparent;
  color: var(--brown);
  font-family: var(--font);
  font-size: 40px;
  border: 0px solid var(--brown);
  outline: none;
  width: 90%;
}

.SearchButton {
  align-self: left;
  size: 50px ;
}

.Content {
  background: var(--cream);
}

.SmallText {
  font-size: 25px;
}

.BigResultText {
  font-size: 40px;
}

.ResultTextHolder {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FormInner {
  display: flex;
  background: var(--cream);

  border: 1px solid var(--brown);
  outline-style: solid;
  outline-color: var(--brown);

  border-radius: 80px;
}

.ResultsList {
  padding-inline-start: 0;
  width: 100%;
}